<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrz.dao.TbkItemInfoMapper">
  <resultMap id="BaseResultMap" type="com.lrz.model.TbkItemInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="item_images" jdbcType="VARCHAR" property="itemImages" />
  </resultMap>
</mapper>